{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <link type="text/css" rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
    <div class="container">
        <h4 class="page-header">Form<span class="pull-right" id="responseUrl"></span><br><span class="pull-right" id="resultsUrl"></span></h4>
        <form class="form" id="appForm">
            {% csrf_token %}
            <input type="text" class="form-control" id="title" name="title" placeholder="Title"><br>
            <input type="text" class="form-control" id="desc" name="description" placeholder="Description"><br>
            <button id="formSave" type="submit" class="btn btn-default">Save</button>
        </form><br>
        <div id="questions_holder"></div>
        <button id="add_question_button" class="btn btn-default" type="button">Add Questions</button>
    </div>

<script type="text/html" id="general_question_template">
    <div data-id="general_question_cid">
        Question Type<br/>
        <select name="question-type" class="question_type_select">
            <option value="SQ">Short Question</option>
            <option value="MCQ">Multiple Choice Question</option>
        </select>
        <div class="actual_question_holder"></div>
    </div>
</script>

<script type="text/html" id="short_question_template">
    <form class="form">
        {% csrf_token %}
        <input type="text" class="form-control" id="shortQues" name="shortQues" placeholder="Short Question">
        <br><button id="shortQuesSaveBtn" type="submit" class="btn btn-default">Submit</button>
    </form><br>
</script>

<script type="text/html" id="multiple_choice_question_template">
    <form class="form">
        {% csrf_token %}
        <input type="text" class="form-control" id="multipleChoiceQues" name="multipleChoiceQues" placeholder="Multiple Choice Question">
        <div id="choices_holder"></div>
        <button id="addChoiceBtn" type="button" class="btn btn-default">Add Option</button>
        <br><button id="multipleChoiceQuesSaveBtn" type="submit" class="btn btn-default">Submit</button>
    </form><br>
</script>

<script type="text/html" id="choice_checkbox_template">
    <input type="text" data-id="option_ccid" class="form-control" name="multipleChoiceQues" placeholder="Option">
</script>

<script src="{% static 'main/js/jquery-3.1.1.js' %}"></script>
<script src="{% static 'main/js/jquery.loadTemplate.min.js' %}"></script>
<script src="{% static 'main/js/bootstrap.min.js' %}"></script>
<script src="{% static 'main/js/app.js' %}"></script>
</body>
</html>