{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link type="text/css" rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">FBFO</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Login</a></li>
            <li><a href="#">Logout</a></li>
            </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid" id="start-form">
        <h4 class="text-center">Start a new form</h4>
        <a href="{% url 'main:edit' %}">
            <div class="formBox text-center">
                Add
            </div>
        </a>
    </div>
    <div class="container-fluid" id="recent-forms">
        {% for form in form_list %}
            <div class="col-md-3">
                <a href="{% url 'main:result' form.id %}">
                    <div class="formBox text-center">
                        {{ form.title }}
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

<script src="{% static 'main/js/jquery-3.1.1.js' %}"></script>
<script src="{% static 'main/js/bootstrap.min.js' %}"></script>
</body>
</html>
