{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Response</title>
    <link type="text/css" rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
    <div class="container">
        <h3>{{ form.title }}</h3>
        <h5 class="page-header">{{ form.description }}</h5>
        <h3 class="page-header">Questions</h3>
        {% for sq in sq_list %}
            <div>{{ sq.short_question_text }}</div>
        {% endfor %}
        <h3 class="page-header">Total Responses {{ count }}</h3>
        {% for response in responses %}
            <a href="{% url 'main:responseDetail' response.id %}">Response {{ response.id }}</a><br>
        {% endfor %}
    </div>
<script src="{% static 'main/js/jquery-3.1.1.js' %}"></script>
<script src="{% static 'main/js/bootstrap.min.js' %}"></script>
<script src="{% static 'main/js/app.js' %}"></script>
</body>
</html>