{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Response</title>
    <link type="text/css" rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
    <div class="container" id="response-container">
        <h3 class="page-header" form-id="{{ form.id }}" id="mainForm">{{ form.title }}</h3>
    <div id="shortResponses">
        {% for sq in sq_list %}
            <h4>{{ sq.short_question_text }}</h4>
            <form class="form">
{#                {% csrf_token %}#}
                <input type="text" class="form-control" id="shortResponse{{ sq.id }}" question-id="{{ sq.id }}" name="shortResponse{{ sq.id }}">
            </form>
        {% endfor %}
    </div>
    <div id="multipleChoiceResponses">
        {% for mcq in mcq_list %}
            <h4>{{ mcq.mcq.mc_question_text }}</h4>
            <form class="form" question-id="{{ mcq.mcq.id }}">
                {% for choice in mcq.choices %}
                    <input type="checkbox" value="{{ choice.id }}">{{ choice.choice_text }}
                {% endfor %}
            </form>
        {% endfor %}
    </div>
    <br/>
    <button id="responseBtn" class="btn btn-default" type="submit">Submit</button>
    </div>
    <div class="container" id="thank-container">
        <h2>Thank You! for your submission</h2>
    </div>
<script>
    var csrf_token = "{{ csrf_token }}";
</script>
<script src="{% static 'main/js/jquery-3.1.1.js' %}"></script>
<script src="{% static 'main/js/bootstrap.min.js' %}"></script>
<script src="{% static 'main/js/response.js' %}"></script>
</body>
</html>