{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
    <div class="container">
        <h3 class="page-header">{{ form.title }}</h3>
        {% for response in short_responses %}
            <div>
                <p>Question: {{ response.short_question.short_question_text }}</p>
                <p>Response: {{ response.short_response_text }}</p>
            </div><br>
        {% endfor %}
    </div>
</body>
</html>