.formBox {
    height: 150px;
    width: 150px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #cccccc;
    box-shadow: 1px 1px 1px 1px #cccccc;
    text-decoration: none;
}

#start-form {
    width: 100%;
    height: 250px;
    background-color: #484848;
    color: white;
    margin: 0;

}

#recent-forms {
    width: 100%;
    height: 700px;
    background-color: #d6e9f8;
    color: white;
    margin: 0;
}

.navbar {
    margin-bottom: 0;
    background-color: #000084;
    color: white;

}